<h3>Sinatra sample</h3>
<form action="/submit" method="POST">
  <input type="text" name="model[name]" placeholder="Enter a string" />
  <input type="submit" value="submit" />
</form>

This example has been taken from this <a href="https://samuelstern.wordpress.com/2012/11/28/making-a-simple-database-driven-website-with-sinatra-and-heroku/"> post </a>.
